Flask==0.9
Flask-Principal==0.3.5
Flask-RESTful==0.1.7
Jinja2==2.6
PyYAML==3.10
Scrapy==0.16.4
Twisted==12.3.0
WTForms==1.0.3
Werkzeug==0.8.3
argparse==1.2.1
blinker==1.2
flask-peewee==0.6.3
lxml==3.1.0
ner==0.1
nltk==2.0.4
numpy==1.7.0
peewee==2.0.9
psycopg2==2.4.6
pycrypto==2.6
w3lib==1.2
wsgiref==0.1.2
wtf-peewee==0.2.0
zope.interface==4.0.3
