<div class="row">
   	<h3>NER Training Data Editor</h3>
</div>
<div class="row">
	<div class="span6">
		<div class="row">
		    <div class="span5 pagination">
	    		<ul>
					<li class="disabled"><span>&laquo; Prev</span></li>
					<li class="active"><span>1</span></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li class="disabled"><span>...</span></li>
					<li><a href="#">100</a></li>
					<li><a href="#">Next &raquo;</a></li>
	    		</ul>
	    	</div>
	    	<input type="number" class="span1 detached">
	    </div>
	    <blockquote class="row">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	    </blockquote>
	</div>
	<div class="span6">
		<button class="btn btn-primary detached" type="button">Save</button>
		<table class="table table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th>Token</th><th>Tag</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Lorem</td><td>O</td>
				</tr>
				<tr>
					<td>ipsum</td><td>B-Per</td>
				</tr>
				<tr>
					<td>dolor</td><td>I-Per</td>
				</tr>
				<tr>
					<td>sit</td><td>O</td>
				</tr>
				<tr>
					<td>amet</td><td>O</td>
				</tr>
			</tbody>
    	</table>
	</div>
</div>