<div class="row">
   	<h3>NER Training Data Editor</h3>
</div>
<div class="row">
	<div class="span8">
		<div class="row">
		    <div class="span6 pagination">
	    		<ul>
					<li ng-class="is_first_page && 'disabled'" ng-switch on="is_first_page">
						<span ng-switch-when="true">&laquo; Prev</span>
						<a ng-switch-default ng-href="#/workshop/ner_training_data/{{ prev_id }}">&laquo; Prev</a>
					</li>
					<li ng-repeat="num in page_range" ng-class="is_current(num) && 'active'" ng-switch on="is_current(num)">
						<span ng-switch-when="true">{{ num }}</span>
						<a ng-switch-default ng-href="#/workshop/ner_training_data/{{ num }}">{{ num }}</a>
					</li>
					<li ng-class="is_last_page && 'disabled'" ng-switch on="is_last_page">
						<span ng-switch-when="true">Next &raquo;</span>
						<a ng-switch-default ng-href="#/workshop/ner_training_data/{{ next_id }}">Next &raquo;</a>
					</li>
	    		</ul>
	    	</div>

		    <form class="span2 form-inline detached" ng-submit="goto()">
				<input type="number" min="1" class="span1" ng-model="goto_id">
			    <button type="submit" class="btn">Go</button>
		    </form>
		</div>

	    <blockquote class="row">{{ record.post_content }}</blockquote>
	</div>
	<div class="span4">
		<button class="btn btn-primary detached" type="button" ng-click="save_change()" ng-class="is_dirty || 'invisible'">Save</button>
		<button class="btn btn-primary detached" type="button" ng-click="start_editing()" ng-class="is_dirty || 'invisible'">Undo</button>
		<div class="scrollable">
			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>Token</th><th>Tag</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="tag in record.tags">
						<td>{{ tag.token }}</td>
						<td><input type="text" class="span2" ng-model="tag.iob" ng-change="on_change()" ng-disabled="!tag.token"></input></td>
					</tr>
				</tbody>
	    	</table>
    	</div>
	</div>
</div>